<div class="container shadow p-3 mb-5 bg-light rounded my-5">
  <!-- Alert when information is not sent to server -->
  <div *ngIf="isBlank" class="alert alert-danger" role="alert">
      Email hoặc số điện thoại hoặc mã Capcha không được bỏ trống.
    </div>
    <div *ngIf="isInvalidInfo" class="alert alert-danger" role="alert">
      Email hoặc số điện thoại không đúng.
    </div>
    <div *ngIf="isInvalidCapcha" class="alert alert-danger" role="alert">
        Mã Capcha không đúng.
      </div>
  <div class="m-3">
    <h3>Quên mật khẩu ? </h3>
    <!-- Place to input an email or a phone number, then assign it with variable name userEmailOrPhone -->
    <div class="form-row justify-content-center">
      <div class="form-label-group col-md-4 my-4">
        <input type="text" class="form-control" id="inputEmailOrPhone" placeholder="Email đăng kí hoặc số điện thoại"
          autofocus="" [(ngModel)]="userEmailorPhone">
        <label for="inputEmailOrPhone">Email hoặc số điện thoại: </label>
      </div>
    </div>
    <!-- Place for capcha image  -->
    <div class="form-row d-flex align-items-center flex-column">
      <img src="{{capChaObject.imageLocation}}" height=180 width=250>
    </div>
    <!-- Place to input capchacode, this code then will be assigned to variable name capChaCode -->
    <div class="form-row justify-content-center">
      <div class="form-group col-md-3">
        <div class="input-group mx-auto my-3">
          <input class="form-control text-center" type="text" placeholder="Hãy nhập mã capcha trên hình" autofocus=""
            [(ngModel)]="capChaInput">
        </div>
      </div>
    </div>
    <div class="form-row d-flex align-items-center flex-column">
      <p>Chúng tôi sẽ gửi thông tin về việc thay đổi mật khẩu vào Email hoặc số điện thoại bạn đã nhập.</p>
    </div>
    <!-- Submit button -->
    <div class="form-row justify-content-center my-3 ">
      <button type="button" class="btn purple-theme btn-lg" (click)="onSubmit()">Tạo lại mật khẩu mới</button>
    </div>
  </div>
</div>