<footer class="footer mt-auto py-3">
  <div class="container-fluid">
    <div class="row d-flex align-items-center flex-column">
      <div class="my-1">
        <a href="">
          <i class="fab fa-facebook-f fa-2x mx-4"></i>
        </a>
        <a href="">
          <i class="fab fa-instagram fa-2x mx-4"></i>
        </a>
        <a href="">
          <i class="fab fa-twitter fa-2x mx-4"></i>
        </a>
        <a href="">
          <i class="fas fa-envelope fa-2x mx-4"></i>
        </a>
        <a href="">
          <i class="fab fa-google-play fa-2x mx-4"></i>
        </a>
        <a href="">
          <i class="fab fa-apple fa-2x mx-4"></i>
        </a>
      </div>
      <div class="my-1" id="footer-menu">
        <a class="pr-3" style="color:#744FC4" href="#">Tuyển dụng</a>
        <a class="pr-3" style="color:#744FC4" href="#">Hỏi đáp</a>
        <a class="pr-3" style="color:#744FC4" href="#">Điều khoản</a>
        <a class="pr-3" style="color:#744FC4" href="#">Truyền thông</a>
        <a class="pr-3" style="color:#744FC4" href="#">Trợ giúp</a>
      </div>
      <div class="my-1">
        <a class="navbar-brand ml-4" href="#">
          <img src="./assets/images/PureLogoVidiDOL.png" width="60" height="60" alt="VidiDOL Logo">
          <div class="logo-text ml-2">VidiDOL</div>
        </a>
      </div>
      <div class="my-1">© 2019 - Bản quyền của Công Ty VidiDOL</div>
    </div>
  </div>
</footer>

