<div class="container shadow p-3 mb-5 bg-light rounded my-5">
  <!-- Alert when information is not sent to server -->
  <div *ngIf="isBlank" class="alert alert-danger" role="alert">
    Mật khẩu mới, mật khẩu xác nhận hoặc mã xác nhận không được bỏ trống.
  </div>
  <div *ngIf="isPassNotMatch" class="alert alert-danger" role="alert">
    Mật khẩu mới và mật khẩu xác nhận phải giống nhau.
  </div>
  <div *ngIf="isCodeNotMatch" class="alert alert-danger" role="alert">
    Mã xác nhận không đúng.
  </div>
  <div class="m-5">
    <h3 class="my-5">Thiết lập lại mật khẩu </h3>
    <!-- Place to input new password -->
    <div class="form-row justify-content-center">
      <div class="form-label-group col-md-8 my-2">
        <input type="password" class="form-control" id="newPassword" placeholder="Hãy nhập mật khẩu mới" autofocus=""
          [(ngModel)]="newPass" aria-describedby="passwordHelp">
        <label for="inputEmailOrPhone">Mật khẩu mới: </label>
        <small id="passwordHelp" class="form-text text-muted">Mật khẩu nên có độ dài từ 8-16 kí tự bao gồm số, ký tự đặt
          biệt, chữ in hoa và in thường</small>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-label-group col-md-8 mb-2 mt-3">
        <input type="password" class="form-control" id="confirmNewPassword"
          placeholder="Hãy nhập mật khẩu mới một lần nữa" autofocus="" [(ngModel)]="confirmPass"
          aria-describedby="passwordHelp">
        <label for="confirmNewPassword">Xác nhận mật khẩu mới: </label>
        <small id="passwordHelp" class="form-text text-muted">Mật khẩu nên có độ dài từ 8-16 kí tự bao gồm số, ký tự đặt
          biệt, chữ in hoa và in thường</small>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-label-group col-md-8 mt-4 mb-5">
        <input type="text" class="form-control" id="securityCodeInput"
          placeholder="Hãy nhập mã đã được gửi sang mail hoặc số điện thoại" autofocus="" [(ngModel)]="securityCode">
        <label for="securityCodeInput">Mã xác nhận: </label>
      </div>
    </div>
    <!-- Submit button -->
    <div class="form-row justify-content-center my-3 ">
      <button type="button" class="btn purple-theme btn-lg" (click)="SubmitPass()">Tạo lại mật khẩu mới</button>
    </div>
  </div>
</div>